html, body {
    height: 100%;
}

.cor_fundo{
    background-color: #17a2b8;
    height: 100%;
}

.cor_tabela{
    background-color: #F8F9FA;
    height: 100%;
    border-radius:25px;
}

.login{
    width: 100%;
    max-width: 400px;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.lDesligado{
    text-decoration: none;
}

.btnTable{
    width: 30px;
    padding: 5px;
}