{% extends 'base.html' %}

{% block body %}

<div class="container-fluid h-100 d-flex align-items-center justify-content-center cor_fundo">
    <div class="p-5 bg-light rounded shadow login">
        <form method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <h4 class="text-center">Cadastrar usuário admin</h4><br>
                <div class="mb-3">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.senha.label(class='form-label') }}
                    {{ form.senha(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.confirmar_senha.label(class='form-label') }}
                    {{ form.confirmar_senha(class='form-control') }}
                </div>
            </fieldset>
            {{ form.submit(class='btn btn-primary w-100') }}
        </form>
    </div>
</div>

{% endblock %}