{% extends 'base.html' %}

{% block body %}

<div class="container-fluid h-100 d-flex align-items-center justify-content-center cor_fundo">
    <div class="p-5 bg-light rounded shadow login">
        <form method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <h4 class="text-center">Cadastrar usuário admin</h4><br>
                <div class="mb-3 form-group">
                    {{ form.username.label(class='form-label') }}
                    {% if form.username.errors %}
                        {{ form.username(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for erro in form.username.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3 form-group">
                    {{ form.senha.label(class='form-label') }}
                    {% if form.confirmar_senha.errors %}
                        {{ form.senha(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for erro in form.confirmar_senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.senha(class='form-control') }}
                    {% endif %}
                </div>
                <div class="mb-3 form-group">
                    {{ form.confirmar_senha.label(class='form-label') }}
                    {% if form.confirmar_senha.errors %}
                        {{ form.confirmar_senha(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for erro in form.confirmar_senha.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmar_senha(class='form-control') }}
                    {% endif %}
                </div>
            </fieldset>
            {{ form.submit(class='btn btn-primary w-100') }}
        </form>
    </div>
</div>

{% endblock %}