{% extends 'base.html' %}

{% block body %}

<div class="container-fluid cor_fundo">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <table class="table table-striped custab table-dark">
                <thead>
                    <tr>
                        <th colspan="4" class="text-right">
                            <a href="{{ url_for('cadastrar_produto') }}" class="btn btn-primary btn-sm"><b>Adicionar</b> produto</a>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">Produto</th>
                        <th class="text-center">Categoria</th>
                        <th class="text-center">Quantidade</th>
                        <th class="text-center">Alterações</th>
                    </tr>
                </thead>
                <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td class="text-center">{{ produto.nome_produto }}</td>
                        <td class="text-center">{{ produto.cat_produto }}</td>
                        <td class="text-center">{{ produto.qtd_produto }}</td>
                        <td class="text-center">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <a class="btn btn-primary btn-sm btnTable w-100" href="#"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-success btn-sm btnTable w-100" href="#"><span class="glyphicon glyphicon-plus"></span> <b>+</b></a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-warning btn-sm btnTable w-100" href="#"><span class="glyphicon glyphicon-minus"></span> <b>-</b></a>
                                </div>
                                <div class="col">
                                    <a class="btn btn-danger btn-sm btnTable w-100" href="{{ url_for('remover_produto', id_produto=produto.id_produto) }}"><span class="glyphicon glyphicon-trash"></span> Deletar</a>
                                </div>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}