{% extends 'base.html' %}

{% block body %}

<div class="container-fluid h-100 d-flex align-items-center justify-content-center cor_fundo">
    <div class="p-5 bg-light rounded shadow login">
        <form>
            <fieldset>
                <h1 class="text-center">ACME</h1><br>
                <div class="mb-3">
                    {{ form.username.label(class='form-label') }}
                    {{ form.username(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ form.senha.label(class='form-label') }}
                    {{ form.senha(class='form-control') }}
                </div>
                <div class="mb-3 form-check">
                    {{ form.lembrar_dados(class='form-check-input') }}
                    {{ form.lembrar_dados.label(class='form-check-label') }}
                </div>
            </fieldset>
            {{ form.submit(class='btn btn-primary w-100') }}
        </form>
    </div>
</div>

{% endblock %}


username
senha
lembrar_dados
submit